*~
*.bak
*.orig

debian/files
debian/moka-gtk-theme.debhelper.log
debian/moka-gtk-theme.postinst.debhelper
debian/moka-gtk-theme.prerm.debhelper
debian/moka-gtk-theme.substvars
debian/moka-gtk-theme

create-zip.sh
quick.sh

moka-gtk-theme.zip