/************
 * Nautilus *
 ************/
.nautilus-canvas-item {
    border-radius: 2px;
}

.nautilus-desktop.nautilus-canvas-item {
    color: white;
    text-shadow: 1px 1px black;
}

.nautilus-desktop.nautilus-canvas-item:active {
    color: @fg_color;
}

.nautilus-desktop.nautilus-canvas-item:selected {
    color: @selected_fg_color;
}

.nautilus-desktop.nautilus-canvas-item:active,
.nautilus-desktop.nautilus-canvas-item:prelight,
.nautilus-desktop.nautilus-canvas-item:selected {
    text-shadow: none;
}

NautilusWindow .sidebar .frame {
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: shade(@bg_color, 0.8);
    border-radius: 0;
}

NautilusWindow > GtkGrid > .pane-separator,
NautilusWindow > GtkGrid > .pane-separator:hover {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: shade(@bg_color, 0.8);
    background-color: @bg_color;
}

NautilusView.frame,
NautilusView GtkScrolledWindow.frame,
NautilusNotebook.notebook {
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

NautilusNotebook .frame {
    border-width: 0;
}

NautilusToolbar .button {
    icon-shadow: 0 1px @button_text_shadow;
}

NautilusToolbar .button:active {
    icon-shadow: 0 1px @button_active_text_shadow;
}

NautilusToolbar .button:insensitive,
NautilusToolbar .button:active *:insensitive {
    icon-shadow: none;
}

NautilusQueryEditor .primary-toolbar.toolbar {
    padding: 4px;
    border-width: 1px 0px 0px 0px;
}

NautilusQueryEditor .primary-toolbar.toolbar .button {
    padding: 0;
}

NautilusQueryEditor .toolbar {
    padding: 4px 4px 3px 4px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: @borders;
    background-color: shade(@bg_color, 0.9);
}

NautilusQueryEditor .toolbar:nth-child(2) {
    border-color: shade(@bg_color, 0.8);
}

NautilusQueryEditor .toolbar:backdrop {
    background-color: @unfocused_base_color;
    border-color: @unfocused_base_color;
}

NautilusQueryEditor .toolbar:backdrop:nth-child(2) {
    border-color: @unfocused_borders;
}

NautilusNotebook.notebook NautilusQueryEditor .primary-toolbar.toolbar {
    border-top-width: 0;
}

NautilusNotebook.notebook NautilusQueryEditor .toolbar:last-child,
NautilusNotebook.notebook NautilusQueryEditor .primary-toolbar.toolbar:only-child {
    border-bottom-width: 1px;
    border-bottom-color: shade(@bg_color, 0.8);
}

.toolbar NautilusPathBar .button {
    padding: 4px 5px;
}