/* Copyright 2013 Sam Hewitt.
*
* This file is part of the Moka GTK theme.
*
* The Moka GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Moka GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Moka GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**************
 * Header Bar *
 **************/

.header-bar {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: shade(@borders, 0.8);
    padding: 6px 6px 5px 6px;

    box-shadow: inset 0 -1px shade(@borders, 1.30);
    background-color: @bg_color;
}

.header-bar .button.text-button {
    padding: 2px 16px;
}

.header-bar .button.image-button {
    padding: 5px 4px 5px 5px;
}

.header-bar .title {
    font: Bold 11;
}

.header-bar .subtitle {
    font: 9;
}

.header-bar GtkComboBox,
.header-bar .button {
    border-color: shade(@borders, 0.8);
    background-image: linear-gradient(to bottom,
                                      @button_gradient_color_a,
                                      @button_gradient_color_b
                                      );
}

.header-bar .button:hover {
    border-color: shade(@borders, 0.8);
    background-image: linear-gradient(to bottom,
                                      @button_hover_gradient_color_a,
                                      @button_hover_gradient_color_b
                                      );
}

.header-bar .button:active {
    border-color: shade(@borders, 0.8);
    background-image: linear-gradient(to bottom,
                                      @button_active_gradient_color_a,
                                      @button_active_gradient_color_b
                                      );
}

.header-bar .button:focus,
.header-bar .button:hover:focus,
.header-bar .button:active:focus,
.header-bar .button:active:hover,
.header-bar .button:active:hover:focus,
.header-bar .entry,
.header-bar .entry:active,
.header-bar .entry:focus {
    border-color: shade(@borders, 0.8);
}

.header-bar .button:insensitive {
    border-color: shade(@borders, 0.8);
    background-color: shade(@toolbar_bg_color, 1.0);
    background-image: none;
}

.header-bar .button:active:insensitive {
    border-color: shade(@borders, 1.0);
    background-color: shade(@toolbar_bg_color, 1.0);
    background-image: none;
}

.header-bar .button .separator,
.header-bar .button.separator {
    border-color: shade(@toolbar_bg_color, 0.95);
}

.header-bar .button .separator:insensitive,
.header-bar .button.separator:insensitive {
    border-color: shade(@toolbar_bg_color, 0.85);
}