/* Copyright 2013 Sam Hewitt.
*
* This file is part of the Moka GTK theme.
*
* The Moka GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Moka GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Moka GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**********
 * Scales *
 **********/

.scale {
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 16;
    -GtkRange-trough-border: 0;
}

.scale.slider,
.scale.slider:hover,
.scale.slider:insensitive,
.scale.slider:backdrop,
.scale.slider:insensitive:backdrop {
    border-radius: 0;
    border-style: none;
    background-color: transparent;

    /* background-image in -assets variant */
}

/* Horizontal scale colors */
.menubar .menuitem .scale.highlight.left,
.scale.highlight.left {
    background-color: transparent;
    border-width: 1px;
    border-color: shade(@selected_bg_color, 0.8);
    box-shadow: inset 2px 2px @selected_bg_color,
          inset -2px -2px @selected_bg_color;
}

.menubar .menuitem .scale.highlight.left:insensitive,
.scale.highlight.left:insensitive {
    background-color: transparent;
    border-width: 0px;
    box-shadow: inset 2px 2px shade(@insensitive_bg_color, 0.8),
          inset -2px -2px shade(@insensitive_bg_color, 0.8);
}

.menubar .menuitem.scale.highlight.left:backdrop,
.scale.vertical.highlight.left:backdrop {
    background-color: transparent;
    border-width: 1px;
    border-color: @selected_bg_color;
    box-shadow: inset 2px 2px @unfocused_selection_color,
          inset -2px -2px @unfocused_selection_color;
}

/* Vertical scale colors */
.menubar .menuitem.scale.highlight.bottom,
.scale.vertical.highlight.bottom {
    background-color: transparent;
    border-width: 1px;
    border-color: shade(@selected_bg_color, 0.8);
    box-shadow: inset 2px 2px @selected_bg_color,
          inset -2px -2px @selected_bg_color;
}

.menubar .menuitem .scale.highlight.bottom:insensitive,
.scale.highlight.bottom:insensitive {
    background-color: transparent;
    border-width: 0px;
    box-shadow: inset 2px 2px shade(@insensitive_bg_color, 0.8),
          inset -2px -2px shade(@insensitive_bg_color, 0.8);
}

.menubar .menuitem.scale.highlight.bottom:backdrop,
.scale.vertical.highlight.bottom:backdrop {
    background-color: transparent;
    border-width: 1px;
    border-color: @selected_bg_color;
    box-shadow: inset 2px 2px @unfocused_selection_color,
          inset -2px -2px @unfocused_selection_color;
}


/* Troughs */
.scale.trough {
    margin: 6px 0;
}

.scale.trough.vertical {
    margin: 0 6px;
}

.scale.trough,
.scale.trough.vertical {
    border-width: 0;
    box-shadow: inset 1px 1px @borders,
          inset -1px -1px @borders; 
}


.scale.trough:insensitive,
.scale.trough.vertical:insensitive {
    border-width: 0;
    box-shadow: inset 1px 1px @insensitive_borders,
          inset -1px -1px @insensitive_borders; 
}


.scale.trough:backdrop,
.scale.trough.vertical:backdrop {
    border-width: 0;
    box-shadow: inset 1px 1px @unfocused_borders,
          inset -1px -1px @unfocused_borders; 
}

.scale.progressbar {
    background-color: @base_color;
}