/* Copyright 2013 Sam Hewitt.
*
* This file is part of the Moka GTK theme.
*
* The Moka GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Moka GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Moka GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/**********
 * Scales *
 **********/

.scale {
    -GtkScale-slider-length: 16;
    -GtkRange-slider-width: 16;
    -GtkRange-trough-border: 0;
}

.scale.slider,
.scale.slider:hover,
.scale.slider:insensitive,
.scale.slider:backdrop,
.scale.slider:insensitive:backdrop {
    border-radius: 0;
    border-style: none;
    background-color: transparent;
    background-size: 16px 16px;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;

    /* background-image in -assets variant */
}

/* Positive fill colors */
.menubar .menuitem .scale.highlight.left,
.scale.highlight.left,
.menubar .menuitem.scale.highlight.bottom,
.scale.vertical.highlight.bottom {
    background-color: transparent;
    border-width: 1px;
    border-color: @selected_borders_color;
    box-shadow: inset 0px 0px 2px 1px @selection_color;
}

/* Insensitive fill colors */
.menubar .menuitem .scale.highlight.left:insensitive,
.scale.highlight.left:insensitive,
.menubar .menuitem .scale.highlight.bottom:insensitive,
.scale.highlight.bottom:insensitive {
    background-color: transparent;
    border-width: 1px;
    border-color: @insensitive_borders_color;
    box-shadow: inset 0px 0px 2px 1px shade(@insensitive_bg_color, 0.9);
}

/* Hover fill colors */
.menubar .menuitem .scale.highlight.left:hover,
.scale.highlight.left:hover,
.menubar .menuitem .scale.highlight.bottom:hover,
.scale.highlight.bottom:hover {
    background-color: transparent;
    border-width: 1px;
    border-color: @selected_borders_color;
    box-shadow: inset 0px 0px 2px 1px @hover_selection_color;
}

/* Backdrop/unfocused fill colors */
.menubar .menuitem.scale.highlight.left:backdrop,
.scale.vertical.highlight.left:backdrop,
.menubar .menuitem.scale.highlight.bottom:backdrop,
.scale.vertical.highlight.bottom:backdrop {
    background-color: transparent;
    border-width: 1px;
    border-color: @unfocused_borders_color;
    box-shadow: inset 0px 0px 2px 1px @unfocused_bg_color;
}



/***********
 * Troughs *
 ***********/

/* Margins */
.scale.trough {
    margin: 6px 0;
}

.scale.trough.vertical {
    margin: 0 6px;
}

/* Trough colors */
.scale.trough,
.scale.trough.vertical {
    border-width: 0;
    box-shadow: inset 0px 0px 1px 1px @borders;
}

/* Hover trough colors */
.scale.trough:hover,
.scale.trough.vertical:hover {
    border-width: 1px;
    border-color: shade(@borders, 0.95);
    box-shadow: inset 0px 0px 1px 1px shade(@borders, 0.95);
}

/* Insensitive trough colors */
.scale.trough:insensitive,
.scale.trough.vertical:insensitive {
    
    box-shadow: inset 0px 0px 1px 1px @insensitive_borders_color;
}

/* Backdrop/unfocused trough colors */
.scale.trough:backdrop,
.scale.trough.vertical:backdrop {
    border-width: 0;
    box-shadow: inset 0px 0px 1px 1px @unfocused_borders_color; 
}

.scale.progressbar {
    background-color: @base_color;
}