/************
 * Notebook *
 ************/

.notebook {
    padding: 0;
    border-style: solid;
    border-width: 1px;
    background-color: @theme_base_color;
    -GtkNotebook-tab-overlap: 12;
    -GtkNotebook-tab-curvature: 8;
    -GtkNotebook-initial-gap: 4;
}

/* Tab Background */
.notebook GtkViewport {
    background-color: @theme_base_color;
}

.notebook:backdrop,
.notebook GtkViewport:backdrop {
    background-color: @theme_unfocused_base_color;
    border-color: @theme_unfocused_bg_color;
}

/* Border */
.notebook,
.notebook:backdrop,
.notebook tab,
.notebook tab:backdrop {
    border-color: shade(@borders, 1.4);
}

.notebook tab {
    padding: 4px;
    border-style: solid;
    border-width: 1;
    background-color: @notebook_tab_fg_color;
}

.notebook tab.bottom {
    background-color: @notebook_tab_bg_color;
}

.notebook tab:active {
    border-color: shade(@notebook_selected_tab_color, 1.0);
    background-image: linear-gradient(to bottom,
                                      @notebook_selected_tab_color 1px,
                                      @theme_base_color 3px,
                                      @theme_base_color
                                      );
}

.notebook tab.top,
.notebook tab.top:active,
.notebook tab.bottom,
.notebook tab.bottom:active {
    padding-top: 6px;
    padding-bottom: 4px;
}

.notebook tab.left,
.notebook tab.right {
    background-image: none;
    background-color: @theme_bg_color;
    padding: 3px;
}

/* Unfocused Tab Color */
.notebook tab:backdrop {
    background-image: none;
    background-color: @theme_bg_color;
}

.notebook tab GtkLabel {
    color: @text_color;
}

.notebook tab.top {
    border-width: 1px 1px 0px 1px;
}

.notebook tab.right {
    border-width: 1px 1px 1px 0;
}

.notebook tab.bottom {
    border-width: 0 1px 1px 1px;
}

.notebook tab.left {
    border-width: 1px 0 1px 1px;
}

/* Close Button */
.notebook tab .button,
.notebook tab .button:active,
.notebook tab .button:hover {
    border-image: none;
    border-style: none;
    background-image: none;
    background-color: transparent;
}

.notebook tab .button GtkImage {
    border-radius: 3px;
    color: mix(@theme_fg_color, @theme_base_color, 0.6);
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 1px;
    icon-shadow: 0 1px @button_text_shadow;
}

.notebook tab .button GtkImage:hover {
    color: @theme_fg_color;
    border-color: alpha(black, 0.1);
}

.notebook tab .button GtkImage:active,
.notebook tab .button GtkImage:active:hover {
    background-color: alpha(black, 0.08);
    box-shadow: inset 0 1px alpha(black, 0.05);
    color:  @button_active_text;
    icon-shadow: 0 1px @button_active_text_shadow;
    border-color: alpha(black, 0.27) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13) 
                  alpha(black, 0.13);
}

.notebook tab .button GtkImage:backdrop {
    color: mix(@theme_fg_color, @theme_base_color, 0.7);
    icon-shadow: none;
}

.notebook tab .button GtkImage:backdrop:hover {
    color: @theme_fg_color;
}