/* Copyright 2013 Sam Hewitt.
*
* This file is part of the Moka GTK theme.
*
* The Moka GTK theme is free software: you can redistribute it
* and/or modify it under the terms of the GNU General Public License as
* published by the Free Software Foundation, either version 3 of the
* License, or (at your option) any later version.
*
* The Moka GTK theme is distributed in the hope that it will be
* useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
* Public License for more details.
*
* You should have received a copy of the GNU General Public License along
* with the Moka GTK theme. If not, see http://www.gnu.org/licenses/.
*/

/***********
 * Sidebar *
 ***********/

.sidebar,
.sidebar.view,
.sidebar .view,
.sidebar GtkScrolledWindow {
    background-color: @sidebar_bg_color;
    color: @sidebar_fg_color;
}

.sidebar .frame {
    border-right: 1px;
    border-style: solid;
    border-color: @borders;
}

.sidebar.view.separator,
.view.separator,
.separator {
    border-width: 1px;
    border-style: solid;
    border-color: @borders;
    color: @base_color;
}

.sidebar-pane-separator,
.sidebar-pane-separator:hover,
.sidebar-pane-separator:selected {

    border-width: 0;
    -GtkPaned-handle-size: 1;
    background-image: none;
    background-color: @borders;
    border-color: @borders;
}

.sidebar {
    -GtkTreeView-horizontal-separator: 1px;
    -GtkTreeView-vertical-separator: 6px;
}


.sidebar.view:selected,
.sidebar.view:hover:selected {

    color: shade (@bg_color, 0.50);
    border-style: solid;
    border-width: 1px 0 1px 0;

    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (alpha (#000, 0.11)),
                    to (alpha (#000, 0.07)));
}

.sidebar.view:selected:backdrop,
.sidebar.view:hover:selected:backdrop {
    background-image: -gtk-gradient (linear,
                    left top,
                    left bottom,
                    from (alpha (#000, 0.08)),
                    to (alpha (#000, 0.04)));
}

.sidebar.view:hover {
    background-color: @hover_bg_color;
}