/*************
 * GtkSwitch *
 *************/

GtkSwitch {
    -GtkSwitch-slider-width: 24;
    -GtkSwitch-slider-height: 24;
    padding: 1px 1px 1px 1px;
}

GtkSwitch:active {
    padding: 1px 1px 1px 1px;
}

GtkSwitch.slider {
    background-size: 24px 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

GtkSwitch.slider,
GtkSwitch.slider:backdrop,
GtkSwitch.slider:active,
GtkSwitch.slider:active:backdrop,
GtkSwitch.slider:active:insensitive,
GtkSwitch.slider:insensitive,
GtkSwitch.slider:insensitive:backdrop {
    border: none;
    background-color: transparent;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}

GtkSwitch.trough {
    background-size: 48px 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

GtkSwitch.trough,
GtkSwitch.trough:backdrop,
GtkSwitch.trough:active,
GtkSwitch.trough:active:backdrop,
GtkSwitch.trough:active:insensitive,
GtkSwitch.trough:insensitive,
GtkSwitch.trough:insensitive:backdrop {
    border: none;
    background-color: transparent;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}